<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <form action="/dealerships/<%=@dealership.id%>" method="patch" class="row g-3">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="military_discount" value="0">
        <div class="col-md-6">
            <label for="dealershipName" class="form-label">Dealership Name</label>
            <input type="text" class="form-control" id="dealershipName" name="name" placeholder="<%=@dealership.name%>">
        </div>
        <div class="col-6">
            <label for="daysOpen" class="form-label">Days Open</label>
            <input type="text" class="form-control" id="daysOpen" placeholder="<%=@dealership.days_open%>" name="days_open">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" placeholder="<%=@dealership.city%>">
        </div>
        <div class="col-md-6">
            <label for="inputRating" class="form-label">Review Rating</label>
            <input type="number" class="form-control" id="inputRating" placeholder="<%=@dealership.review_rating%>" name="review_rating">
        </div>
        <div class="col-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="militaryDiscount" name="military_discount" value="1">
                <label class="form-check-label" for="militaryDiscount">
                Check if Military Discount is Offered
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Changes</button>
        </div>
    </form>
</div>