<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<!-- End of navbar -->


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>All Dealerships</h1>
            <p><a href="dealerships/new">Add New Dealership</a></p>
            <% @dealerships.each do |dealership| %>
                <h3 class="mt-1"><%= dealership.name %></h3>
                <p>Location: <%= dealership.city %></p>
                <p>Dealership added on: <%= dealership.created_at.strftime('%a, %b %d %Y') %></p>
                <a href="dealerships/<%= dealership.id%>/vehicles">View <%=dealership.name %> Inventory</a>
                <br>
                <a href="dealerships/<%= dealership.id%>">View <%=dealership.name %> Info</a>
                <%# later change to be buttons side by side for better appearance %>
            <% end %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>Showing <%= @dealerships.count %> Dealerships</p>
        </div>
    </div>
</div>