<h1> All Dealerships </h1>
<% @dealerships.each do |dealership| %>
    <h3><%= dealership.name %></h3>
    <p>location: <%= dealership.city %></p>
    <p>rating: <%= dealership.review_rating %></p>
    <p>days open: <%= dealership.days_open %></p>
    <p>provides military discount: <%= dealership.military_discount %></p>
<% end %>