<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<!-- End of navbar -->


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>All Dealerships</h1>
            <hr>
            <p><a href="dealerships/new" class="btn btn-primary">Add New Dealership</a></p>
            <% @dealerships.each do |dealership| %>
                <div class="card bg-light-subtle text-light-emphasis my-1">
                    <h3 class="mt-1"><%= dealership.name %></h3>
                    <p>Location: <%= dealership.city %></p>
                    <p>Dealership added on: <%= dealership.created_at.strftime('%a, %b %d %Y') %></p>
                    <div class="btn-group">
                        <a href="dealerships/<%= dealership.id%>/vehicles" class="btn btn-primary m-1">View <%=dealership.name %> Inventory</a>
                        <a href="dealerships/<%= dealership.id%>" class="btn btn-primary m-1">View <%=dealership.name %> Info</a>
                        <a href="dealerships/<%= dealership.id%>/edit" class="btn btn-warning m-1">Update <%=dealership.name%></a>
                        <%# later change to be buttons side by side for better appearance %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>Showing <%= @dealerships.count %> Dealerships</p>
        </div>
    </div>
</div>