<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <h1><%= @dealership.name %></h1>
    <p>location: <%= @dealership.city %></p>
    <p>rating: <%= @dealership.review_rating %></p>
    <p>days open: <%= @dealership.days_open %></p>
    <p>provides military discount: <%= @dealership.military_discount %></p>
    <div class="btn-group">
        <a href="<%= @dealership.id%>/vehicles" class="btn btn-primary m-1">View <%=@dealership.name %> Inventory</a>
        <a href="/dealerships/<%= @dealership.id%>/edit" class="btn btn-warning m-1">Update <%=@dealership.name%></a>
        <%= form_tag("/dealerships/#{@dealership.id}", method: :delete) do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= submit_tag "Delete", class: "btn btn-danger m-1" %>
        <% end %>
    </div>
</div>