<h1><%= @dealership.name %></h1>
<p>location: <%= @dealership.city %></p>
<p>rating: <%= @dealership.review_rating %></p>
<p>days open: <%= @dealership.days_open %></p>
<p>provides military discount: <%= @dealership.military_discount %></p>
<a href="<%= @dealership.id%>/vehicles">View <%=@dealership.name %> Inventory</a>