<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<section class="container">
    <h1> <%= "All Vehicles from: #{@dealership.name}" %> </h1>
    <hr>
    <p><a href="/dealerships/<%=@dealership.id%>/vehicles/new" class="btn btn-primary">Add New Vehicle</a></p>
    <div class="row">
        <% @dealership.vehicles.each do |vehicle| %>
            <div class="col-4 mb-4">
                <div class="card">
                    <img src="<%=vehicle.img_url%>" class="card-img-top mx-auto" alt="Coming Soon" style="width: 80%">
                    <div class="card-body mx-auto">
                        <h3 class="card-title"> <%="#{vehicle.make} #{vehicle.model}" %> </h3>
                        <p class="card-text"> <%="Vehicle Year: #{vehicle.year}" %> </p>
                    </div> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <%="Pre-Owned: #{vehicle.pre_owned}" %> </li>
                        <li class="list-group-item"> <%="Electric: #{vehicle.electric}" %> </li>
                        <li class="list-group-item"> <%="Horsepower: #{vehicle.horsepower}" %> </li>
                        <li class="list-group-item"> <%="Price: #{vehicle.price}$" %> </li>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p> Showing <%= @dealership.vehicles.count %> Vehicles </p>
        </div>
    </div>
</section>