<h1> All Vehicles </h1>
<% @vehicles.each do |vehicle| %>
    <div class="card" style="width: 18rem;">
        <img src= <%"#{vehicle.img_url}" %> class="card-img-top" alt="Coming Soon">
        <div class="card-body">
            <h5 class="card-title"> <%="#{vehicle.make} #{vehicle.model}" %> </h5>
            <p class="card-text"> <%="Vehicle Year: #{vehicle.year}" %> </p>
        </div> 
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <%="Pre-Owned: #{vehicle.pre_owned}" %> </li>
            <li class="list-group-item"> <%="Electric: #{vehicle.electric}" %> </li>
            <li class="list-group-item"> <%="Horsepower: #{vehicle.horsepower}" %> </li>
            <li class="list-group-item"> <%="Price: #{vehicle.price}$" %> </li>
        </ul>
    </div>
<% end %>