<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body text-light mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <h3>VMDB</h3>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dealerships">All Dealerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">All Vehicles</a>
                </li>
            </ul>
            <span class="navbar-text">
            Vehicle Market DB
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <%= form_with(model: @vehicle, url: "/vehicles/#{@vehicle.id}", method: "patch", local: true, data: { turbo: false }) do |form| %>
    <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
    <%= form.hidden_field :electric, value: 0 %>
    <%= form.hidden_field :pre_owned, value: 0 %>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="price" class="form-label">Vehicle Price</label>
                <%= form.text_field :price, class: "form-control", id: "price" %>
            </div>
            <div class="col-6">
                <label for="year" class="form-label">Vehicle Year</label>
                <%= form.text_field :year, class: "form-control", id: "year" %>
            </div>
            <div class="col-md-6">
                <label for="horsepower" class="form-label">Horsepower</label>
                <%= form.text_field :horsepower, class: "form-control", id: "horsepower" %>
            </div>
            <div class="col-md-6">
                <label for="make" class="form-label">Vehicle Make</label>
                <%= form.text_field :make, class: "form-control", id: "make" %>
            </div>
            <div class="col-md-6">
                <label for="model" class="form-label">Vehicle Model</label>
                <%= form.text_field :model, class: "form-control", id: "model" %>
            </div>
            <div class="col-md-6">
                <label for="img_url" class="form-label">Link to Vehicle Image</label>
                <%= form.text_field :img_url, class: "form-control", id: "img_url" %>
            </div>
            <div class="col-3">
                <div class="form-check">
                <%= form.check_box :pre_owned, class: "form-check-input", id: "pre_owned" %>
                <label class="form-check-label" for="pre_owned">
                    Check if vehicle is Pre-Owned
                </label>
                </div>
                <div class="form-check">
                <%= form.check_box :electric, class: "form-check-input", id: "electric" %>
                <label class="form-check-label" for="electric">
                    Check if vehicle is electric
                </label>
                </div>
            </div>
            <div class="col-12">
                <%= form.submit "Update Vehicle", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>